.mainVisual .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.6;
}
.mainVisual .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--mainColor);
}

.movieShow .swiper-button-disabled {
  opacity: 0;
}

.movieComing .swiper-button-disabled {
  opacity: 0;
}


.pagination-disable {
  opacity: 0.5;
}

.pagination-active button {
  cursor: default;
  background-color: #fff;
  font-weight: 700;
  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}
