.mainVisual .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.6;
}
.mainVisual .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--mainColor);
}

.movieShow .swiper-button-prev {
  padding-right: 3px;
  left: -20px;
}

.movieShow .swiper-button-next {
  padding-left: 3px;
  right: -20px;
}