@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";
@theme {
    --breakpoint-sp375: 375px;
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slide-in-bottom 0.5s ease forwards;
}

:root {
    --header: 65px;
    --mainColor: #d42a87;
    --black: #333;
}

* {
    box-sizing: border-box;
}

.text-main {
    color: var(--mainColor);
}

.aspect-w-7 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 7;
}

.aspect-h-10 {
    --tw-aspect-h: 10;
}
.inner {
    max-width: 1310px;
}

.cinema-day-swiper .swiper-slide {
    width: auto;
}

.cinema-swiper .swiper-slide {
    width: auto;
}

.cinema-swiper {
    margin-left: 0 !important;
}

.counter-post-detail {
    counter-reset: pdetail;
}

.counter-post-detail > div::before {
    content: counter(pdetail);
    counter-increment: pdetail;
    position: absolute;
    bottom: 3px;
    left: 4px;
    color: #fff;
    text-shadow: 0 0 2px rgb(0, 0, 0, 10);
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    z-index: 1;
    pointer-events: none;
}
